.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.header-address {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.logo-studio,
.footer-logo-studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-address {
    display: block;
    font-style: normal;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .nav-list-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-links.current {
    position: relative;
  }

  .nav-list-links.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list-links:hover,
  .nav-list-links:focus,
  .nav-list-links.current,
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1128px) {
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
/* END-HEADER */

/* HERO */
.hero {
  margin: 0 auto;
  max-width: 320px;
  background-color: #2e2f42;
  padding: 72px 0;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;

  max-width: 216px;

  margin-bottom: 72px;
}

.hero-button {
  background: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mob-img@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-img.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab-img@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-pc-img.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;

    max-width: 496px;

    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-pc-img@2x.jpg);
  }
}

/* END-HERO */

/* ABOUT-US */
.description-box-icon {
  display: none;
}
.description {
  padding: 96px 0;
}
.description-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.description-list-item {
  width: 100%;
}

.description-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}

.description-list-text {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .description-list {
    gap: 24px;
    row-gap: 72px;
  }
  .description-list-item {
    width: calc((100% - 24px) / 2);
  }
  .description-list-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .description {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .description-list {
    gap: 24px;
  }
  .description-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .description-box-icon {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .description-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* END-ABOUT-US */

/* TEAM */
.team {
  background: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  border: none;
  flex-wrap: wrap;
  gap: 72px;
}
.team-list-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-container {
  padding: 32px 0;
  align-items: center;
  flex-direction: column;
}

.team-icons-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.team-icons-item {
  width: 40px;
  height: 40px;
}
.team-icons-links {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
}

.team-icons-links:hover,
.team-icons-links:focus {
  background-color: #404bbf;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.team-list-text {
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .team-list {
    gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
  }
}
/* END-TEAM */

/* PORTFOLIO */

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list-item {
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  display: block;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

@media screen and (min-width: 786px) {
  .portfolio-list {
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
